# APP

app/node_modules/
app/src/interfaces/
app/build/
app/yarn.lock
app/yarn-error.log
app/.env
app/.DS_Store
app/package-lock.json
app/debug.log

# CHAIN

packages/chain/node_modules/
packages/chain/artifacts/
packages/chain/cache/
packages/chain/.yarn/
packages/chain/yarn.lock
packages/chain/yarn-error.log
packages/chain/.env
packages/chain/.DS_Store
packages/chain/package-lock.json

# YARN

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn/cache/
.yarn/releases/

node_modules/
